/* Normalise */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Default font for the entire project */
body{
    font-family: 'Roboto Slab', serif;
}

/* Logo with jar */
.logo-img{
    display: none;
    height: 40px;
    padding-left: 5px;
    padding-top: 5px;
}

.logo-img:active{
    transform: rotate(45deg);
}

/* Navbar */
.navbar{
    background-color:#eed291;
    position: fixed;
    width: 100%;
    z-index: 1000;
    color: #dd972b;
    display: flex;
    justify-content: space-between;
}

.nav-list{
    list-style-type: none;
    font-size: .9rem;
    padding-right: 3vw;
}

.nav-list li{
    display: inline-block;
    text-align:center;
    padding-top: 14px;
    padding-right: 1vw;
    padding-left: 1vw;
    height: 46px;
}

.nav-list li:last-child{
    padding-right: 1vw;
}

/* Reset link default states and modify*/
a, a:hover, a:focus, a:active{
    text-decoration: none;
    color: inherit;
}

.nav-list li:active{
    color: black;
}

.nav-list a, a{
    -webkit-tap-highlight-color: transparent;
}


/* Introductory section of the website */
.intro{
    background-image: url("background_camp2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 101vh; 
    width: 101vw;   /* In caz ca apare o liniuta alba sub poza pun 101vh */
}

#text-intro{
    font-family: "Open Sans", sans-serif;
    font-size: 4rem;
}

.poze-intro{
    display: none;
}


.poza-1{
    display:inline-block;
}

#name-wrap{
    display: none;
    position: relative;
    margin: auto;
    top: 5vh;
    width: 200px;
    text-align: center;
    color: #c07c17;
    border-bottom: 2px solid #c07c17;;
}

#secondary-img{
    display: none;
}

.sageata{
    color: #dd972b;
    position: relative;
    left: calc(50vw - 32px);
    top: calc(90vh - 32px);
}



.sageata-mare{
    display: none !important;
}

/* Rules applied to all sections */
.sect{
    padding: 40px 50px 30px 50px;
    text-align:center;
    color:#31211c;
    
}

.sect-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: #dd972b;
}

/* Produse */

.pret{
    font-size: 1.5 em;
    color: #e9bc1b;
}


.prod{
    display: inline;
}

.prod-img{
    margin-left: 7vw; 
    float: left;
    height: 20vw;
    border-radius: 20%;
}

.prod p{
    font-size: 5vw;
    padding-top: 1vw;
    padding-left: 2vw;
    justify-content: center;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev{
      left: 0;
  }
  
  .poza-slide{
      border-radius: 5%;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

#despre p, #beneficii p, #beneficii li{
    text-align: left;
}

#benef-list{
    list-style: none;
}

#benef-list li{
    padding-bottom: 1rem;
}

#benef-list li::before{
    color: #e9bc1b;
    content: "\2022";
    display: inline-block; 
    font-weight: bold;
    font-size: 1rem;
    width: 1rem;
    margin-left: -1em;
}



/* Contact */ 

#contact a{
    color:#dd972b;
}

#contact{
    line-height: 2rem;
}

.contact-body{
    text-align: left;   
}

.contact-list{
    list-style-type: none;
}

/* Color the logos */
.fb{
    color: #3b5998;
}

.lkin{
    color:#0e76a8;
}

.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

/* Copyright */
#copy{
    text-align: center;
    color: #897d6d;
    font-size: .8rem;
}

/* MEDIA QUERIES */


/* Breakpoint at 480px used for navbar optimisation*/
@media screen and (min-width: 480px){
    .nav-list li{
        width: 18vw;
    }

    .nav-list li:last-child{
        width: 22vw;
    }

    .sect-title{
        font-size: 7vw;
    }
}

/* Breakpoint at 768px - starting point for tablet portrait resolutions*/
@media screen and (min-width: 768px), (orientation: landscape){

    .nav-list li{
        font-size: 1.2rem;
        padding-top: 10px;
    }

    
    .intro{
        background-image: url("background_camp2.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
    }

    #text-intro{
        color: #dd972b;
    }

    #name-wrap{
        position: absolute;
        width: 100%;
        margin-left: auto;
        border: none;
        top: 10vh;
    }

    .poze-intro{
        display: inline-block;
        margin-top: calc(50vh - 100px);
        width: 100%;
        text-align: center;
    }

    .poza{
        height: 30vw;
        margin-right: 5vw;
        border-radius: 40%;
    }

    .poza-desk{
        display: none;
    }

    .poza-2{
        margin-right: 0;
    }

    .poza:hover{
        border-radius: 0;
    }

    .poza:last-child{
        margin-right: 0;
    }

    .sageata-mare{
        display: inline !important;
        left: calc(50vw - 32px);
        top: calc(90vh - 32px);
    }
/*
    .white-wrap{
        position: relative;
        top: 90vh;
        height: 64px;
        width: 64px;
        border-radius: 50%;
        background-color: white;
        left: calc(50vw - 32px);
    }*/

    .sect, #education{
        padding-left: calc(100px + 5vw) !important;
        padding-right: calc(100px + 5vw) !important;
    }

    .sect-title{
        font-size: 4rem;
    }

    .prod-img{
        height: calc(100px + 1vw);
        width: calc(100px + 1vw);
    }

    .prod p{
        padding-top: 2vw;
        font-size: calc(1rem + 1vw);
    }

    #copy{
        color: #d8d8d8;
    }
}

/* Breeakpoint at 1280px - starting point for desktop displays */
@media screen and (min-width: 1280px){

    .nav-list li:hover{
        color: black;
    }




    .logo-img:hover{
        transform: rotate(45deg);
    }

    #name{
        font-size: 6rem;
    }

    #name-intro{
        font-size: 3rem;
    }  

    
    .poza-desk{
        display:inline-block;
    }
    

    .poze-intro{
        margin-top: calc(40vh - 100px);
        width: 100%;
        text-align: center;
    }

    .poza{
        height: 20vw;
    }

    .poza-2{
        margin-right: 5vw;
    }
 

    #secondary-img{
        height: 400px;
        top: 30vh;
    }

    .sect, #education{
        padding-left: 300px !important;
        padding-right: 300px !important;
    }

    .contact{
        background-image: url("contact.jpeg");
    }

    .contact p, #copy{
        color: #d8d8d8;
    }
}

/* Special condition for mobile devices in landscape mode */
@media screen and (orientation: landscape) and (max-height: 450px)
{
    #name{
        font-size: 4rem;
    }

    #name-intro{
        font-size: 2rem;
    }

    #name-wrap{
        position: absolute !important;
        width: 100% !important;
        margin-left: auto !important;
        border: none !important;
        top: 20vh !important;
    }

    .sageata{
        top: calc(80vh - 32px);
    }

    #name-wrap{
        width: 200px;
        position: absolute;
        top: 100px;
    }

    #secondary-img{
        height: 230px;
        top: 27vh;
    }

    .poze-intro{
        display: none;
    }
}